:root{
    --text-font-color: #000;
}

@font-face {
    font-family: 'Ataraxia Requintado';
    src: url(/assets/font/BDScript-Regular.otf);
    font-weight: 700;
}
@font-face {
    font-family: 'Eyesome';
    src: url(/assets/font/Eyesome-Regular.otf);
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');

* {
    margin: 0;
    color: var(--text-font-color);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F8F6F5;
}
.container {
    width: 1024px;
    margin: auto;
    /* background-color: #000; */
}
.title_a {
    font-family: 'Ataraxia Requintado';
    font-size: 9rem;
}
.style_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.style_title h1 {
    margin-right: 50px;
}
.style_title .line_title{
    width: 100%;
}
.subtitle_a {
    font-family: 'Ataraxia Requintado';
    font-size: 8rem;
}
.subtitle_e {
    font-family: 'Eyesome';
    font-size: 1.9rem;
}
.paragraph {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 100;
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.6;
}

/* IMAGENES DE FONDO */
.glicina-iz{
    position:fixed;
    left: 0;
    top: 569.8;
    z-index: -1;
}
.glicina-iz img{
    width: 800px;
    opacity: 0.3;
}
.glicina-de{
    position:fixed;
    top: 0;
    right: 0;
    z-index: -1;
}
.glicina-de img{
    width: 800px;
    opacity: 0.3;
    transform: scaleX(-1);
}

/* NAVEGACION */
header .container {
    margin-bottom: 50px;
}
.navegation {
    padding-top: 40px;
    margin-bottom: 15px;
}
.navegation ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    padding: 0;
}
.navegation ul li {
    padding: 0;
    text-align: center;
    list-style: none;
}
.navegation ul li a {
    font-family: 'Eyesome';
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
    transition: 0.5s;
}
.navegation ul li a:hover{
    background-color: #fffaf6e4;
}


/* PORTADA DE LA SILLA */
section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.background-chair{
    border-radius: 30px;
    border: 1px solid #00000026;
    width: 90%;
    height: 255px;
    margin-top: 40px;
}
.background-chair div {
    background-color: #F6E8E1;
    border-radius: 25px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 10px);
}
.background-chair div img {
    height: 349px;
}

/* PERFIL DE LA ARQUITECTA */
.profile_ar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.profile_ar_photo {
    display: flex;
    justify-content: center;
}
.profile_ar_photo img {
    width: 70%;
    object-fit: cover;
}


/* SECCION DE SIMBOLISMO */



/* 
.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav .nav-bar{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.nav-bar ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 30px 0;
}
.nav-bar ul li{
    list-style: none;
    text-align: center;
    width: 140px;
}
.nav-bar ul li a{
    font-family: 'Eyesome';
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #fffaf642;
    border-radius: 25px;
}
.nav-bar ul li a:hover{
    background-color: #fffaf6e4;
}
hr{
    width: 100%;
}

SECCION PRINCIPAL
.sec-indice{
    margin: auto;
    margin-bottom: 150px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    font-family: 'Ataraxia Requintado';
    font-size: 9rem;
}
.subtitulo{
    font-family: 'Eyesome';
    font-size: 1.9rem;
    font-style: normal;
}
p{
    font-style: italic;
    font-size: 1.5rem;
}
.fondo-silla{
    margin-top: 60px;
    width: 100%;
    height: 250px;
    background-color: #F6E8E1;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}



ACERCA DE
.acerca-de{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.acerca-de_perfil_madyurit{
}
.acerca-de > div > div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-left: 40px;
}
.contenido-madyurit{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.descripcion-madyurit{
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 100;
    font-size: 1.1rem;
    margin-bottom: 15px;
    padding-left: 12px;
}
.foto-perfil{
    padding: 5px;
    margin: auto;
}
.foto-perfil img{
    width: 320px;
}

PRESENTACION PROYECTO
.__presentacion_proyecto{
    width: 100%;
    background-color: #f6e8e19e;
background-color: aqua;
*/

.imagenes-modificar img {
    width: 100%;
}